[submodule "lib/ds-test"]
	path = lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "lib/solmate"]
	path = lib/solmate
	url = https://github.com/Rari-Capital/solmate
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "lib/clone-factory"]
	path = lib/clone-factory
	url = https://github.com/optionality/clone-factory
[submodule "lib/kamino"]
	path = lib/kamino
	url = https://github.com/stillmatic/kamino
[submodule "lib/clones-with-immutable-args"]
	path = lib/clones-with-immutable-args
	url = https://github.com/wighawag/clones-with-immutable-args
